* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(207, 207, 207);
}

.sidebar {
  position: fixed;
  width: 280px;
  height: 100%;
  background: #0e1518;
  transition: all 0.5s ease;
  overflow: auto;
}

.sidebar header {
  background: #0e1518;
  user-select: none;
  height: 150px;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.4s;
}

.sidebar ul a .Dashboard ,.secteur {
  margin-right: 5px;
  margin-left: -35px;
  padding: 10px 20px 10px 22.2px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border:1px solid white ;
}

.sidebar ul a .Dashboard {
  background: url(dashboard.svg) no-repeat;
}

.sidebar ul a .secteur {
background: url(section.svg) no-repeat;

}

ul li:hover a {
  background-color: #1b272c;
  border-left: 5px solid red;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
}

label #btn img {
  display: block;
  height: 5px;
  color: black;
}

label #btn img:nth-child(2) {
  margin-top: 2px;
  margin-bottom: 2px;
}

label #btn {
  left: 20px;
  top: 25px;
  font-size: 40px;
  /* color: white; */
  padding: 6px 12px;
  transition: all 0.5s;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 25px;
  font-size: 30px;
  color: #0a5275;
  transition: all 0.5s ease;
  border-radius: 50%;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 290px;
  opacity: 0;
  pointer-events: none;
}

section {
  height: 100vh;
  transition: all 0.5s;
  margin-left: 280px;
}

section div:first-child {
  position: relative;
  background-color: white;
  width: 100%;
  height: 150px;
  padding: 0 5% 0 5%;
}

section div:first-child .zon {
  float: right;
  width: 100px;
  margin: 4px 5%;
  height: 20px;
}
.zon img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.head > input[type="text"] {
  position: absolute;
  bottom: 4px;
  width: 72%;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  background-image: url("search.png");
  background-position: left 5px center;
  background-repeat: no-repeat;
  background-size: 25px auto;
  padding-left: 35px;
  outline: none;
  display: inline-block;
}

.head > input[type="text"] + .Project::before {
  content: "Projects";
  position: absolute;
  font-size: 22px;
  font-weight: bolder;
  bottom: 45px;
}

.zon_add-slect {
  position: absolute;
  bottom: 45px;
  right: 14%;
  width: 265px;
  height: 35px;
}

.Action {
  width: 120px;
  height: 35px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 2px;
  outline: none;
}
.Add_Project {
  color: white;
  width: 140px;
  height: 35px;
  background-color: #00b300;
  border: 1px solid black;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  padding-left: 2px;
  outline: none;
  border: none;
}
.Filters {
  position: absolute;
  bottom: 4px;
  right: 14%;
  width: 120px;
  height: 35px;
  background-color: white;
  background-image: url("filter_list_black_192x192.png");
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 25px auto;
  padding-right: 35px;
  padding-left: 2px;
  border: 1px solid black;
  outline: none;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

section div:nth-child(2) {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 9px;
}

.content table {
  width: 95%;
  margin-left: 2.5%;
  text-align: left;
}

th {
  font-weight: bold;
}

.content span {
  position: absolute;
  top: -15px;
  left: 15px;
  height: 50px;
  width: 50px;
  background-color: rgb(240, 77, 77);
  border-radius: 4px;
  box-shadow: 6px 5px 6px #888888;
  height: 50px;
  width: 50px;
}
@media (max-width: 952px) {
  .sidebar {
    left: -280px;
  }
  label #btn,
  label #cancel {
    z-index: 1;
    position: absolute;
    cursor: pointer;
  }
  section {
    margin-left: 0;
  }
  #check:checked ~ section {
    margin-left: 280px;
    margin-right: -280px;
  }
  #check:checked ~ label #cancel {
    left: 295px;
  }
}
